@model CoaCategoryDto

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">@((Model.Id == 0) ? "Create Account" : "Edit Account")</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form id="COACategoryForm" method="post" action="@Url.Action("CreateOrUpdateCOACategory", "chartOfAccount", new { area = "Accounts" })">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="CoaTypeId" value="@Model.CoaTypeId" />

        <div class="modal-body">
            <div class="mb-2">
                <label for="CoaCategoryName" class="form-label">Category Name</label>
                <input type="text" class="form-control" name="CoaCategoryName" id="CoaCategoryName"
                       value="@Model.CoaCategoryName" />
            </div>

            <div class="mb-2">
                <label for="CoaCategoryDescription" class="form-label">Description</label>
                <textarea class="form-control" name="CoaCategoryDescription" id="CoaCategoryDescription">@Model.CoaCategoryDescription</textarea>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">@((Model.Id == 0) ? "Create" : "Update")</button>
        </div>
    </form>

</div>