@model IEnumerable<CompanyUserDto>
@{
ViewData["Title"] = "CompanyBusinessCatgorory";
}
<div class="page-header">
    <div class="page-title">
        <h4>@(ViewBag.NameOfForm)</h4>
        <h6>Delete @(ViewBag.NameOfForm)</h6>
    </div>
</div>

<div class="row">
    <form method="post" asp-route-id="@ViewBag.CompanyId">
        <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="productdetails">
                        <ul class="product-bar">
                            <li>
                                <h4>CompanyName</h4>
                                <h6>@ViewBag.CompanyName</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="productdetails" style="margin-top:15px">
                        <div class="table-responsive">
                            <table class="table  datanew">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                    </tr>
                                </thead>
                                <tbody class="products">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.UserName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-submit me-2">Delete</button>
                <a asp-action="Index" class="btn btn-cancel" id="bt">Cancel</a>
            </div>
        </div>
    </form>
</div>

