@model CompanyDto
@{
    ViewData["Title"] = "Module";
}

@{
    var currentUrl = Context.Request.Path.ToString();

    var tenantId = Context.TenantId();
    var companyId = Context.CompanyId();
    var isTenantAdmin = Context.IsTenantAdmin();
}
<div class="page-header">
    <div class="page-title">
        <h4>Company</h4>
        <h6>Full details of a Company</h6>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="productdetails">
                    <ul class="product-bar">
                        <li>
                            <h4>Company</h4>
                            <h6>@Model.Name</h6>
                        </li>

                        <li>
                            <h4>Email</h4>
                            <h6>@Model.Email</h6>
                        </li>

                        <li>
                            <h4>Phone Number</h4>
                            <h6>@Model.Phone</h6>
                        </li>

                        <li>
                            <h4>Address</h4>
                            <h6>@Model.Address</h6>
                        </li>
                        <li>
                            <h4>Description</h4>
                            <h6>@Model.Description</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-submit me-2" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a asp-action="Index" class="btn btn-cancel" id="bt">Cancel</a>
        </div>
    </div>
</div>

